.sensor {
  z-index: 1;
  display: grid;
  position: relative;
  justify-items: center;
  align-items: center;
  appearance: none;
  outline: none;
  border: none;
  white-space: pre;
  padding: 0;
  width: var(--item);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(20px);
  font-weight: inherit;
  text-align: center;
  border-radius: 20px;
  color: white;
  background-color: color(rebeccapurple a(80%));
}
