{
  "presets": [
    [
      "env",
      {
        "useBuiltIns": true,
        "modules": false,
        "exclude": ["transform-regenerator"]
      }
    ],
    "preact"
  ],
  "plugins": [
    ["transform-object-rest-spread", {
      "useBuiltIns": true
    }]
  ]
}
